[Unit]
Description=Backup
#Requires=backup.service

[Timer]
Unit=backup.service
OnBootSec=15min
OnUnitActiveSec=6h
#Persistent=true

[Install]
WantedBy=timers.target
